version: "3.8"

services:

  postgres:
    image: postgis/postgis:15-3.4
    container_name: postgres_postgis
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: projet-cloud-db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d projet-cloud-db"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build: ./backend
    container_name: spring_backend
    ports:
      - "8081:8081"
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: projet-cloud-db
      DB_USER: admin
      DB_PASSWORD: admin
      SPRING_PROFILES_ACTIVE: docker
    restart: on-failure

  frontend:
    build: ./frontend
    container_name: frontend_react
    ports:
      - "3000:5173"
    depends_on:
      - backend

  tileserver:
    image: klokantech/tileserver-gl
    container_name: tileserver
    ports:
      - "8000:80"
    volumes:
      - ./docker/tileserver/data:/data

volumes:
  postgres_data:
